body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.navigation {
    background-color: orangered;
    overflow: hidden;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9;
    margin: 0px;
  }
  
  .navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    z-index: 10;
    font-family: "Lato";
  }
  
  .navigation a:hover {
    background-color: white;
    color: black;
    z-index: 10;
  }
  

  .navigation a.active {
    background-color: white;
    color: black;
    z-index: 10;
  }

  .heading1 {
    position: relative;
    top: -155px;
    z-index: 1;
    right: 0px;
    width: auto;
    height: 500px;
    margin: 0px;
    margin-left: -1%;
    margin-right: -0.7%;
    overflow: hidden;
  }

  .txthead1 {
    position: relative;
    z-index: 3;
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
    top: 180px;
    font-size: 30px;
    width: 100%;
  }

  .ltitle {
    position: relative;
    color: rgb(80,80,80);
    top: -110px;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: auto;
    margin-top: 0px;
    width: 100%;   
}
